# 전처리

In [ ]:
texts = []

for n in range(1, 8):
    f = open('Talk_2023.8.29 09_07-{}.txt'.format(n), 'r')
    while True:
        line = f.readline()
        if not line: break
        texts.append(line)
    f.close()

In [ ]:
len(texts)

110538

In [ ]:
for t in texts:
    if '초대했습니다.' in t or '나갔습니다.' in t:
        print(t)

2016. 12. 8. 오후 9:08: 김찬님이 안도현님, 승원님, 송혁님, 박창현님, 김원중님과 (알 수 없음)님을 초대했습니다.

2016. 12. 8. 오후 9:09: 김찬님이 을 초대했습니다.

2016. 12. 9. 오후 7:38: 김찬님이 강병찬님을 초대했습니다.

2016. 12. 13. 오후 9:21: 김원중님이 김창인님을 초대했습니다.

2016. 12. 13. 오후 9:22: 김원중님이 정원제님을 초대했습니다.

2016. 12. 15. 오전 1:17: 강병찬님이 나갔습니다.

2016. 12. 15. 오전 1:17: 승원님이 강병찬님을 초대했습니다.

2016. 12. 15. 오전 1:17: 강병찬님이 나갔습니다.

2016. 12. 15. 오후 1:30: 승원님이 나갔습니다.

2016. 12. 15. 오후 1:30: (알 수 없음)님이 승원님을 초대했습니다.

2016. 12. 15. 오후 5:39: 김찬님이 강병찬님을 초대했습니다.

2016. 12. 21. 오전 2:41: (알 수 없음)님이 나갔습니다.

2016. 12. 21. 오전 7:11: 김찬님이 류형선님을 초대했습니다.

2017. 1. 6. 오전 12:58: (알 수 없음)님이 나갔습니다.

2017. 2. 8. 오후 12:27: 김찬님이 이우민님을 초대했습니다.

2017. 2. 8. 오후 1:42: 김원중님이 을 초대했습니다.

2017. 10. 30. 오후 7:36: 승원님이 나갔습니다.

2017. 10. 30. 오후 7:37: 김원중님이 승원님을 초대했습니다.

2017. 10. 30. 오후 7:38: 승원님이 나갔습니다.

2017. 10. 30. 오후 7:42: 강병찬님이 승원님을 초대했습니다.

2017. 10. 30. 오후 10:41: 승원님이 나갔습니다.

2017. 10. 30. 오후 10:59: 김원중님이 승원님을 초대했습니다.

2018. 1. 2. 오전 10:21: (알 수 없음)님이 나갔습니다.

2018. 6. 2. 오전 12:35: 김원중님이 문선재님을 초대했습니다.

2018. 7. 29. 오후 4:00: 류형선님이 나갔습니다.

2018. 7. 29. 오후 4:00: 김원중님이 나갔습니다.

2018. 7. 29. 오후 4:00: 안도현님이 나갔습니다.

2018. 7. 29. 오후 4:01: 송혁님이 류형선님을 초대했습니다.

2018. 7. 29. 오후 4:01: 송혁님이 김원중님을 초대했습니다.

2018. 7. 29. 오후 4:01: 송혁님이 안도현님을 초대했습니다.

2018. 9. 24. 오전 11:54: 안도현님이 나갔습니다.

2018. 9. 26. 오후 4:08: 김원중님이 나갔습니다.

2018. 9. 26. 오후 4:15: 김창인님이 김원중님을 초대했습니다.

2018. 9. 29. 오후 4:51: 김창인님이 안도현님을 초대했습니다.

2018. 11. 13. 오후 7:50: 김원중님이 김호연님을 초대했습니다.

2018. 12. 21. 오후 6:22: 김찬님이 (알 수 없음)님을 초대했습니다.

2018. 12. 21. 오후 6:23: (알 수 없음)님이 나갔습니다.

2018. 12. 22. 오후 2:10: 김찬님이 (알 수 없음)님을 초대했습니다.

2018. 12. 22. 오후 2:11: (알 수 없음)님이 나갔습니다.

2018. 12. 27. 오후 7:10: 김찬님이 (알 수 없음)님을 초대했습니다.

2018. 12. 27. 오후 7:11: (알 수 없음)님이 나갔습니다.

2019. 3. 28. 오전 2:11: 김호연님이 나갔습니다.

2021. 10. 3. 오후 7:42: 문선재님이 나갔습니다.

2022. 8. 12. 오전 5:12: (알 수 없음)님이 나갔습니다.

2022. 8. 13. 오후 6:02: 류형선님이 장호진님을 초대했습니다.

In [ ]:
texts = [t for t in texts if t[0] == '2' and t[4] == '.' and '초대했습니다.' not in t and '나갔습니다.' not in t and '오' in t]
len(texts)

106582

In [ ]:
texts_date = []
for t in texts:
    i = t.find(',')
    texts_date.append((t[:i], t[(i+2):]))

In [ ]:
texts_date_name = []
for t in texts_date:
    i = t[1].find(':')
    texts_date_name.append([t[0], t[1][:(i-1)], t[1][(i+2):-1]])

In [ ]:
texts_date_name[:10]

[['2016. 12. 8. 오후 9:08', '김찬', 'ㅁ'],
 ['2016. 12. 8. 오후 9:09', '김찬', 'ㅁ'],
 ['2016. 12. 8. 오후 9:16', '(알 수 없음)', 'ㅎㅇㅎㅇ'],
 ['2016. 12. 8. 오후 9:17', '(알 수 없음)', 'ㅁㅎㅎ'],
 ['2016. 12. 8. 오후 9:17', '(알 수 없음)', '뭐'],
 ['2016. 12. 8. 오후 9:17', '(알 수 없음)', 'ㅡㅡ'],
 ['2016. 12. 8. 오후 9:27', '김찬', '집갔음?'],
 ['2016. 12. 8. 오후 9:29', '(알 수 없음)', 'ㄴㄴ'],
 ['2016. 12. 8. 오후 9:29', '(알 수 없음)', '다맞고'],
 ['2016. 12. 8. 오후 9:29', '(알 수 없음)', '있음']]

In [ ]:
# 장호진

for i, t in enumerate(texts_date_name):
    if t[1] == '(알 수 없음)':
        texts_date_name[i][1] = '장호진'

# 테이블화

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_row', 10)

In [ ]:
df = pd.DataFrame(texts_date_name, columns = ['time', 'name', 'text'])
df

                         time name            text
0        2016. 12. 8. 오후 9:08   김찬               ㅁ
1        2016. 12. 8. 오후 9:09   김찬               ㅁ
2        2016. 12. 8. 오후 9:16  장호진            ㅎㅇㅎㅇ
3        2016. 12. 8. 오후 9:17  장호진             ㅁㅎㅎ
4        2016. 12. 8. 오후 9:17  장호진               뭐
...                       ...  ...             ...
106581   2023. 8. 28. 오후 4:43  김원중  창현아 여름에 뭔 긴팔이야
106582  2023. 8. 29. 오전 12:00  장호진       취준하는사람있냐?
106583   2023. 8. 29. 오전 7:33  안도현      공시 준비하고 있음
106584   2023. 8. 29. 오전 7:33  안도현              9급
106585   2023. 8. 29. 오전 9:07  강병찬     아직 졸업을 안함..

[106586 rows x 3 columns]

# 함수 제작

In [ ]:
def word_count(word):
    pd.set_option('display.max_row', 20)
    df_w = df[df.text.str.contains(word)]
    df_w = df_w[~df_w.name.str.contains('알 수 없음')]
    df_c = pd.DataFrame(df_w.name.value_counts())
    df_c.columns = ['횟수']
    print("'{}' 언급 횟수".format(word))
    print('===========================')
    return(df_c)

In [ ]:
df[df.name.str.len() > 10]

                       time                name                text
84160  2019.2.12~2019.2.14   019.2.12~2019.2.14  19.2.12~2019.2.14
84162  2019.2.12~2019.2.14   019.2.12~2019.2.14  19.2.12~2019.2.14
84166  2019.2.12~2019.2.14   019.2.12~2019.2.14  19.2.12~2019.2.14

In [ ]:
word_count('강릉')

'호진~' 언급 횟수
===========================

     횟수
김찬    9
김창인   4
승원    3
안도현   3
이우민   2
강병찬   1
장호진   1